@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .anim-reverse {
    animation-direction: reverse;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 220.47 98.26% 36.08%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --success: 142 72% 29%;
    --success-foreground: 0 0% 98%;
    --warning: 48 92% 59%;
    --warning-foreground: 228, 68%, 18%;
    --destructive: 8 92% 59%;
    --destructive-foreground: 210 40% 98%;
    --ring: 220.67 97.83% 36.08%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: 235 19% 13%;
    --foreground: 229 35% 75%;
    --muted: 235 12% 17%;
    --muted-foreground: 235 12% 67%;
    --popover: 235 19% 10%;
    --popover-foreground: 229 35% 85%;
    --card: 235 19% 11%;
    --card-foreground: 229 35% 80%;
    --border: 235 9% 18%;
    --input: 235 9% 21%;
    --primary: 223 45% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 223 30% 75%;
    --secondary-foreground: 223 30% 15%;
    --accent: 235 19% 28%;
    --accent-foreground: 235 19% 88%;
    --success: 142 72% 29%;
    --success-foreground: 0 0% 98%;
    --warning: 48 72% 39%;
    --warning-foreground: 0 0% 93%;
    --destructive: 7 72% 39%;
    --destructive-foreground: 0 0% 100%;
    --ring: 223 45% 44%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }

    /* width */
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      border-radius: 12px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #c4c4c4;
      border-radius: 12px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #d8d8d8;
    }
    ::-webkit-scrollbar-corner {
      background: var(--background);
    }
  }
  .dark {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }

    /* width */
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      border-radius: 12px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #8584a19c;
      border-radius: 12px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #8584a1;
    }
    ::-webkit-scrollbar-corner {
      background: var(--background);
    }
  }
}
