name: Format code with Prettier

on:
  pull_request:
  push:
    branches:
      - stage

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Format
        uses: creyD/prettier_action@v4.5
        with:
          prettier_options: --write **/*.{js,ts,jsx,tsx}
