name: Format code with Prettier

on:
  pull_request:
  push:
    branches:
      - stage

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Prettier
        run: npm install prettier prettier-plugin-tailwindcss
      
      - name: Run Prettier and commit changes
        uses: creyD/prettier_action@v4.3
        with:
          prettier_options: --write **/*.{js,ts,jsx,tsx}
          commit_message: "ci: format code with prettier"
